* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
}
.chuck {
  max-width: 11rem;
}

.chuck__image {
  max-width: 100%;
  width: 11rem;
}

.chuck__buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.chuck button {
  border: 3px double #000;
  font-family: 'Patua One', serif;
}

.chuck-search {
  margin-top: 1rem;
}

.chuck-search input {
  display: block;
  width: 100%;
  border: 3px double #000;
}

.chuck-search button {
  display: block;
  width: 100%;
}

.chuck__message {
  border: 3px double #000;
  padding: 1rem;
}

@media screen and (min-width: 22rem) and (min-height: 17rem) {
  .chuck__main {
    position: relative;
    margin-top: 10rem;
  }

  .chuck__message {
    position: absolute;
    bottom: 17rem;
    left: 100%;
    width: 11rem;
  }

  .chuck__message::before {
    position: absolute;
    left: -5.2rem;
    bottom: -0.2rem;
    width: 0;
    height: 0;
    border-bottom: 0.2rem solid #000;
    border-right: 0.1rem solid transparent;
    border-left: 5rem solid transparent;
    transform: rotate(-45deg);
    transform-origin: top right;
    content: '';
  }
}
